{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
    <button id="newCategoryBtn" type="button" class="btn btn-outline-primary" data-toggle="modal"
            data-target="#newCategoryModal">New Category</button>
    <br><br>

    <div class="modal fade" id="newCategoryModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">New Category</h4>
                  <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  {{ render_form(category_form, id="categoryForm", button_map={'submit': 'success'}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCategoryModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Delete Category</h4>
                  <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Are you sure you want to delete this category?
                </div>

                <div class="modal-footer">
                    <button id="delCategoryDeleteBtn" type="button" class="btn btn-warning">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <table id="categoriesTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Use In Budget</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if categories %}
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.use_in_budget }}</td>
                        <td>
                            <button data-category-id="{{ category.id }}" type="button"
                                    class="btn btn-light btn-sm btnDelete"><i class="far fa-trash-alt"></i></button>
                            <a href="{{ url_for('main.categories_edit', category_id=category.id) }}">
                                <button type="button" class="btn btn-light btn-sm">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
      {# Delete category #}
      $('#categoriesTable').on('click', '.btnDelete', function(event) {
          const btn = $(this); {# we will lose the this context in the post request #}
          const url = "{{ url_for('main.categories_delete', category_id='REPLACE_THIS') }}"
              .replace("REPLACE_THIS", btn.attr("data-category-id"));

          $.post(url, function(result) {
            if (result.status == 'ok') {
              btn.closest('tr').remove(); {# instead of refreshing and losing the flashed message #}
              flashMessage('Category Deleted');
            }
            else {
              flashMessage('Deletion Failed');
            }
          });
      })

      {# New category #}
      $('#submit').click(function(event) {
          event.preventDefault();
          $('.invalid-feedback').remove();
          $.post('/categories', data=$('#categoryForm').serialize(), function(result) {
            if (result.status == 'ok') {
              $('#newCategoryModal').modal('hide');
              location.reload();
            }
            else {
              const obj = JSON.parse(result);
              $.each(obj, function(key, value) {
                $('#' + key).before('<div class="invalid-feedback" style="display: block;">' + value + '</div>');
              });
            }
          });
      });

      $('#cancel').click(function(event) {
         event.preventDefault();
           $('#newCategoryModal').modal('hide');
      });
    </script>
{% endblock %}