{% extends "base.html" %}

{% block content %}
     <button id="refreshDataBtn" type="button" class="btn btn-outline-primary">
         <span id="refreshDataBtnSpan"></span><span id="refreshDataBtnLabel" >Refresh Bank Data</span></button>
{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#refreshDataBtn').on('click', function(event){
                $('#refreshDataBtnLabel').html(' Refreshing');
                $('#refreshDataBtnSpan').addClass('spinner-border spinner-border-sm');
                $('#refreshDataBtn').attr('disabled', true);

                $.post('/refresh_bank'
                ).done(function(count){
                    flashMessage(`${count} Transactions Downloaded`);
                    $('#refreshDataBtnLabel').html('Refresh Bank Data');
                    $('#refreshDataBtnSpan').removeClass('spinner-border spinner-border-sm');
                    $('#refreshDataBtn').attr('disabled', false);
                }).fail(function(){
                    flashMessage(`Refresh Failed`);
                    $('#refreshDataBtnLabel').html('Refresh Bank Data');
                    $('#refreshDataBtnSpan').removeClass('spinner-border spinner-border-sm');
                    $('#refreshDataBtn').attr('disabled', false);
                });
            });
        });
    </script>
{% endblock %}
