{% extends "base.html" %}
{#{% import 'bootstrap/form.html' as form %}#}

{% block content %}
{#    {% if _form %}#}
{#    {{ form.render_form(_form) }}#}
{#    <br>#}
{#    {% endif %}#}
{#      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">#}
{#  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
     <button id="refreshDataBtn" type="button" class="btn btn-outline-primary">
         <span id="refreshDataBtnSpan"></span><span id="refreshDataBtnLabel" >Refresh Bank Data</span></button>
{% endblock %}


{% block scripts %}
    <script>
        $('#refreshDataBtn').on('click', function(event){
            $('#refreshDataBtnLabel').html('');
            $('#refreshDataBtnSpan').addClass('spinner-border spinner-border-sm');

            $.post('/refresh_bank'
            ).done(function(){
                $('#refreshDataBtnLabel').html('Refresh Completed');
                $('#refreshDataBtnSpan').removeClass('spinner-border spinner-border-sm');
            }).fail(function(){
                $('#refreshDataBtnLabel').html('Refresh Failed');
                $('#refreshDataBtnSpan').removeClass('spinner-border spinner-border-sm');
            });
        });
    </script>
{% endblock %}
