{% extends "base.html" %}
{#{% import 'bootstrap/form.html' as form %}#}

{% block content %}
{#    {% if _form %}#}
{#    {{ form.render_form(_form) }}#}
{#    <br>#}
{#    {% endif %}#}
     <button id="refreshDataBtn" type="button" class="btn btn-outline-primary">
         <span id="refreshDataBtnSpan"></span><span id="refreshDataBtnLabel" >Refresh Bank Data</span></button>
{% endblock %}


{% block scripts %}
    <script>
        $('#refreshDataBtn').on('click', function(event){
            $('#refreshDataBtnLabel').html(' Refreshing');
            $('#refreshDataBtnSpan').addClass('spinner-border spinner-border-sm');
            $('#refreshDataBtn').attr('disabled', true);

            $.post('/refresh_bank'
            ).done(function(count){
                flashMessage(`${count} Transactions Downloaded`);
                $('#refreshDataBtnLabel').html('Refresh Bank Data');
                $('#refreshDataBtnSpan').removeClass('spinner-border spinner-border-sm');
                $('#refreshDataBtn').attr('disabled', false);
            }).fail(function(){
                flashMessage(`Refresh Failed`);
                $('#refreshDataBtnLabel').html('Refresh Bank Data');
                $('#refreshDataBtnSpan').removeClass('spinner-border spinner-border-sm');
                $('#refreshDataBtn').attr('disabled', false);
            });
        });
    </script>
{% endblock %}
